# Create a new data set to predict the close prices using the model

In [58]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import PowerTransformer

from scipy.stats import boxcox
# Set the number of rows for the dataset
num_rows = 100
faker = Faker()

# Generate synthetic data
np.random.seed(42)
high = np.random.uniform(100, 500, num_rows).astype(float)
low = (high - np.random.uniform(1, 50, num_rows)).astype(float)
open_price = (low + np.random.uniform(1, 30, num_rows)).astype(float)
volume = np.random.randint(1000, 100000, num_rows)

# Create a DataFrame
df = pd.DataFrame({
    'High': high,
    'Low': low,
    'Open': open_price,
    'Volume': volume,

})
essential_col=['High','Low','Open','Volume']

for col in essential_col:
  df[col + 'scaled'], _ = boxcox(df[col])

scaled_essential_col=[col + 'scaled'for col in essential_col]
# Apply K-Means clustering
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10)
df['Cluster'] = kmeans.fit_predict(df[['Highscaled', 'Lowscaled', 'Openscaled', 'Volumescaled']])
df.to_csv('tesla_Pred1.csv', index=False)

# Display the first few rows
df.head()

,High,Low,Open,Volume,Highscaled,Lowscaled,Openscaled,Volumescaled,Cluster
0,249.816048,247.276017,266.894935,67412,34.432379,38.465679,39.116027,13795.692686,1
1,480.285723,448.101612,451.541671,59335,49.739841,54.615364,53.140005,12390.230860,1
2,392.797577,376.394134,382.081366,57179,44.445379,49.301419,48.229624,12010.084591,1
3,339.463394,313.543430,340.601501,33093,40.946680,44.270525,45.108619,7578.519178,0
4,162.407456,116.936699,135.523142,70678,26.922869,24.533944,26.186298,14356.290117,1